.main-section {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex-grow: 1;
  overflow-y: auto; /* Add scroll only when needed */
  background-color: #eeedeb;
}
.header-base-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  height: 107px;
  padding: 30px 50px;
}

.title {
  font-size: 32px;
}

.nav-links-section {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}
.link-content-section {
  display: flex;
  flex-direction: column;
  width: 30px;
  height: 32px;
}
.active-link:hover {
  cursor: pointer;
}
.link-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: right;
}
.link-text-active {
}
.nav-links-single-number {
  font-weight: 700;
}
.nav-links-single-number-disabled {
  color: #c7c8cc;
  width: 100%;
  text-align: center;
}
.underline-active {
  background: rgba(0, 0, 0, 1);
  width: 100%;
  height: 2.5px;
}
.underline-disabled {
  background-color: #c7c8cc;
  width: 100%;
  height: 2.5px;
}
.site-hero-section {
  padding: 30px 50px;
  background-color: #ffffff;
}
.site-breadcrumbs {
  height: 51px;
}
.site-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.site-info-section {
  padding: 30px 50px;
  border: 5px solid rgba(217, 217, 217, 1);
}
.site-info-left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.site-heading-text {
  font-size: 38px;
  font-weight: 700;
}
.site-ameneties-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.address-section {
  display: flex;
  gap: 15px;
  justify-content: space-between;
}
.site-address {
  flex: 1;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.02em;
  text-align: left;
  color: rgba(0, 0, 0, 0.3);
}
.ameneties-section {
  display: flex;
  gap: 10px;
}
.site-extra-link-wrapper {
  padding: 5px 10px;
  display: flex;
  gap: 10px;
  width: 50%;
  border: 2px solid rgba(67, 117, 251, 1);
}
.site-extra-link-wrapper-text {
  color: rgba(67, 117, 251, 1);
  text-decoration: underline;
}
.site-numbers-wrapper {
  display: flex;
  gap: 30px;
}
.site-info-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}
.info-cards {
  padding: 30px 50px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
}
.landmark-details {
  padding: 30px 50px;
  border: 5px solid rgba(217, 217, 217, 1);
}
.landmark-details-title {
  font-family: "Switzer", sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: -0.02em;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}
@media only screen and (max-width: 768px) {
  .header-base-wrapper {
    padding: 24px 46px;
  }
  .title {
    font-size: 20px;
  }
  .nav-links-section {
    gap: 5px;
  }
  .nav-links-section > svg {
    width: 56px;
  }
  .link-content-section {
    height: 28px;
  }
}
/* .link-test-disabled {
  background: #eeedeb !important;
}
.nav-links-single-number-disabled {
  color: #eeedeb;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}
.disabled-underline {
  background: rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 5px;
} */
