.badge-wrapper {
  display: flex;
  align-items: center;
  padding: 1px 5px;
  gap: 5px;
  background: rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.5);
}
.badge-wrapper > svg {
  color: rgba(0, 0, 0, 0.5);
}
@media only screen and (max-width: 600px) {
  .badge-text {
    font-size: 12px;
  }
  .badge-wrapper {
    gap: 2px;
  }
}
